# Use the toolchain-resolution mechanism for C++
build --incompatible_enable_cc_toolchain_resolution

# Prevent `PATH` and `LD_LIBRARY_PATH` leaking into action enviroment
# build --incompatible_strict_action_env

# Prevent symlink forest under `.runfiles/wsname/external/repo`
# build --nolegacy_external_runfiles

# fail on warnning
build --copt=-Werror
build --linkopt=-Werror

# enable reflection
build --cxxopt -freflection-latest
build --cxxopt -std=c++26

# Avoid building all targets when testing
test --build_tests_only
# test --test_env=LD_LIBRARY_PATH=/opt/p2996/clang/lib
